* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
}

em {
    color: #be5454;
    
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 80px;
  padding-top: 15%;
  padding-left: 3%;

}


h3 {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
    position: relative;
    left: 70%;
    top: 10%;
  
}

h3:hover {
    text-shadow: 0 0 5px #be5454;
    color: #be5454;
}

.rotate:hover {
    transform: rotate(360deg);
}

.rotate {
    transition-duration: 5s;
}
