* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
}


a {
    text-decoration: none;
    color: black;
}


p {
    font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 90px;

}

.positiontwo {
    position: relative;
    top: 35%;
    left: 20%;
    animation: move-words 20s linear infinite;
    margin: 0;
}

@keyframes move-words {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}




.position {
    position: relative;
    top: 20%;
    left: 5%;
    animation: move-words-right 20s linear infinite;
    margin: 0;
}

@keyframes move-words-right {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

p:hover {
    color: #be5454
}
