* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
}

em {
    color: rgb(190, 84, 84);
}

a {
    text-decoration: none;
}

h2 {
    font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 90px;
  position: relative;

}

#one {
    text-align: center;
    top: 30%;
}

#two {
    text-align: center;
    top: 40%;
}

.appear {
    color: antiquewhite;
}

.appear:hover {
    color: black;
    background-color: #be545463;
}